
.carousel-item{
 height: 500px;
}

.carousel-image-1{
background: url(../img/pexels-photo-325876.jpeg);
background-size: cover;
}
.carousel-image-2{
background: url(../img/pexels-photo-837140.jpeg);
background-size: cover;
}
.carousel-image-3{
background: url(../img/pexels-photo-267301.jpeg);
background-size: cover;
}

#leftbox{
     float: left;

}

#middlebox{
    float:center;
}

#page-header{
    height: 200px;
    background: url('../img/wp4221716.jpg');
    background-position: 0 -360px;
    background-attachment:fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;   
}

.about-img {
  margin-top:  -50px;
}


#main-footer{
  background:#000;
  color: #fff;
}